<section id="section3">
  <div class="about-container">
    <div class="about-info">
      <img src="styles/images/spencer.jpg" alt="" />
      <h4>Hi, I'm Spencer.</h4>
      <hr class="about-hr">
      <p>
        I'm a Full-Stack Web Developer focusing on Front-End development and design.  I love the challenge of coding and figuring out best practices of web design.
      </p>
      <button type="button" class="about-tech-btn" data-toggle="modal" data-target="#myModal">Skills</button>
      <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Known Technology</h4>
            </div>
            <div class="modal-body">
              <ul>
                <li>Angular</li>
                <li>Javascript</li>
                <li>HTML5</li>
                <li>CSS/SCSS</li>
                <li>jQuery</li>
                <li>NodeJS</li>
                <li>MongoDB</li>
                <li>PostgreSQL</li>
                <li>Responsive</li>
                <li>Gulp</li>
                <li>Git/Github</li>
                <li>Parallax</li>
                <li>React</li>
                <li>Adobe Design Programs</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
