<section id="section-grid">
  <div class="grid" masonry-dir>
    <div class="grid-sizer"></div>
    <div class="grid-item">
      <img class="grid-brief" src="styles/images/brief/brief-hero.png" data-toggle="modal" data-target="#brief-desk-modal"/>
    </div>
    <div class="grid-item">
      <img class="grid-yui" src="styles/images/yui/yui-logo-desktop.png" data-toggle="modal" data-target="#yui-desk-modal" />
    </div>
    <div class="grid-item">
      <img class="grid-cubiscan" src="styles/images/cubiscan/cubiscan-hero.png" data-toggle="modal" data-target="#cubiscan-desk-modal"/>
    </div>
    <div class="grid-item">
      <img class="grid-vb" src="styles/images/vb/vb_hero.png" data-toggle="modal" data-target="#vb-desk-modal"/>
    </div>
    <div class="grid-item">
      <img class="grid-weather" src="styles/images/omen/omen_landing-min.png" data-toggle="modal" data-target="#weather-desk-modal"/>
    </div>
    <div class="grid-item">
      <img class="grid-strat-builders" src="styles/images/strat-builders/strat_orig_hero.png" data-toggle="modal" data-target="#strat-builders-desk-modal"/>
    </div>
  </div>
</section>
<section id="section2">
  <div class="brief-container">
    <div class="overlay">
      <button type="button" class="yui-btn" data-toggle="modal" data-target="#brief-modal" target="_blank">View Project</button>
    </div>
  </div>
  <div class="yui-container">
    <div class="overlay">
      <button type="button" class="yui-btn" data-toggle="modal" data-target="#yui-modal" target="_blank">View Project</button>
    </div>
  </div>
  <div class="cubiscan-container">
    <div class="overlay">
      <button type="button" class="yui-btn" data-toggle="modal" data-target="#cubiscan-modal" target="_blank">View Project</button>
    </div>
  </div>
  <div class="weather-container">
    <div class="overlay">
      <button type="button" class="yui-btn" data-toggle="modal" data-target="#weather-modal" target="_blank">View Project</button>
    </div>
  </div>
  <div class="vb-container">
    <div class="overlay">
      <button type="button" class="yui-btn" data-toggle="modal" data-target="#vb-modal" target="_blank">View Project</button>
    </div>
  </div>
  <div class="strat-builders-container">
    <div class="overlay">
      <button type="button" class="yui-btn" data-toggle="modal" data-target="#strat-builders-modal" target="_blank">View Project</button>
    </div>
  </div>
</section>
<section class="yui-modal-section">
  <div id="yui-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Yui</h4>
        </div>
        <div class="modal-body">
          <p>
            Inspired by websites such as Behance and Dribble, I created a website called YUI that allows designers of all fields to post and share their work so they can gain exposure for their work.
          </p>
          <p>
            Give it a try: Register an account and you will be be able to post pictures from your favorite artist or some of your own work.
          </p>
          <p>
            Tech Used: Angular, NodeJS, Express, MongoDB, Javascript, jQuery, HTML5, CSS, & Bootstrap.
          </p>
        </div>
        <div class="modal-project-content">
          <img src="styles/images/yui/yui-logo-min.png" alt="" />
          <img src="styles/images/yui/yui.png" alt="" />
          <img src="styles/images/yui/yui-pics.png" alt="" />
          <img src="styles/images/yui/vader.png" alt="" />
        </div>
        <div class="view-site-container">
          <h2 class="view-site-btn"><a href="http://107.170.47.197:8000/#/yui" target="_blank">View Site</a></h2>
        </div>
        <div class="modal-project-links">
          <a class="icon-link" href="https://github.com/SpencerKekauoha/yui" target="_blank"><img src="styles/images/icons/git.png" alt="" /></a>
          <a class="icon-link" href="https://www.linkedin.com/in/spencerkekauoha" target="_blank"><img src="styles/images/icons/linkedin.png" alt="" /></a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="cubiscan-modal-section">
  <div id="cubiscan-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Cubiscan</h4>
        </div>
        <div class="modal-body">
          <p>
            Cubiscan specializes in products for shipping and logistics.  Fluid took them on as a client to completely rebuild their website.
          </p>
          <p>
            Provided with an Adobe Illustrator file, I developed their site from scratch and ensured the end product mimicked the original design.  Using Vue.js, I was able to create components within a wordpress build and utilize the wordpress API to query my database to create a compare, filter, and questionaire component.
          </p>
          <p>
            Tech Used: Wordpress, Vue.js, Javascript, jQuery, PHP, Blade, SCSS, HTML, Foundation
          </p>
        </div>
        <div class="modal-project-content">
          <img src="styles/images/cubiscan/cubiscan-hero.png" alt="" />
        </div>
        <div class="view-site-container">
          <h2 class="view-site-btn"><a href="http://cubiscan.com/" target="_blank">View Site</a></h2>
        </div>
        <div class="modal-project-links">
          <a class="icon-link" href="https://www.linkedin.com/in/spencerkekauoha" target="_blank"><img src="styles/images/icons/linkedin.png" alt="" /></a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="weather-modal-section">
  <div id="weather-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Omen Weather App</h4>
        </div>
        <div class="modal-body">
          <p>
            Designed and coded a weather app from scratch.  Using Figma, an app similar to sketch, I designed each view for Omen and then used those designs to code the app.
            Using a weather api, you can search almost any city in the world to get up to date weather information and a 4 day forecast.  Omen was designed and coded to be used on
            desktop and mobile devices.
          </p>
          <p>
            Tech Used: Angular, Javascript, jQuery, Weather Underground API, HTML5, SCSS, & Gulp.
          </p>
        </div>
        <div class="modal-project-content">
          <img src="styles/images/omen/omen_landing-min.png" alt="" />
          <img src="styles/images/omen/omen_dash-min.png" alt="" />
          <img src="styles/images/omen/omen_desktop_4day.png" alt="" />
          <img src="styles/images/omen/Cryptic-min.png" alt="" />
          <img src="styles/images/omen/omen_dash_mobile-min.png" alt="" />
          <img src="styles/images/omen/Cryptic Mobile_4 Day-min.png" alt="" />
        </div>
        <div class="view-site-container">
          <h2 class="view-site-btn"><a href="https://spencerkekauoha.github.io/omen-weather/#/landing" target="_blank">View Site</a></h2>
        </div>
        <div class="modal-project-links">
          <a class="icon-link" href="https://github.com/SpencerKekauoha/omen-weather" target="_blank"><img src="styles/images/icons/git.png" alt="" /></a>
          <a class="icon-link" href="https://www.linkedin.com/in/spencerkekauoha" target="_blank"><img src="styles/images/icons/linkedin.png" alt="" /></a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="strat-builders-modal-section">
  <div id="strat-builders-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Strategic Builders</h4>
        </div>
        <div class="modal-body">
          <p>
            Strategic Builders specializes in housing development.  Fluid took them on as a client to completely rebuild their website.
          </p>
          <p>
            Provided with an Adobe Illustrator file, I developed their site from scratch and ensured the end product mimicked the original design.
          </p>
          <p>
            Tech Used: Wordpress, Javascript, jQuery, PHP, Blade, SCSS, HTML, Foundation
          </p>
        </div>
        <div class="modal-project-content">
          <img src="styles/images/strat-builders/strat_orig_hero.png" alt="" />
        </div>
        <div class="view-site-container">
          <h2 class="view-site-btn"><a href="http://strategicbuilders.com/" target="_blank">View Site</a></h2>
        </div>
        <div class="modal-project-links">
          <a class="icon-link" href="https://www.linkedin.com/in/spencerkekauoha" target="_blank"><img src="styles/images/icons/linkedin.png" alt="" /></a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="brief-modal-section">
  <div id="brief-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Daily Brief</h4>
          </div>
          <div class="modal-body">
            <p>
              To learn React, I decided to build a simple app that gives you your daily morning briefing.  The app has a couple routes that feature a to-do list page and a weather forecast page.
            </p>
            <p>
              Tech Used: React, Javascript, SCSS, Weather Underground API.
            </p>
          </div>
          <div class="modal-project-content">
            <img src="styles/images/brief/IMG_6410.png" alt="" />
            <img src="styles/images/brief/IMG_6411.png" alt="" />
            <img src="styles/images/brief/IMG_6412.png" alt="" />
            <img src="styles/images/brief/IMG_6413.png" alt="" />
            <img src="styles/images/brief/IMG_6414.png" alt="" />
          </div>
          <div class="view-site-container">
            <h2 class="view-site-btn"><a href="https://spencerkekauoha.github.io/react_todo/#/" target="_blank">View Site</a></h2>
          </div>
          <div class="modal-project-links">
            <a class="icon-link" href="https://github.com/SpencerKekauoha/react_todo" target="_blank"><img src="styles/images/icons/git.png" alt="" /></a>
            <a class="icon-link" href="https://www.linkedin.com/in/spencerkekauoha" target="_blank"><img src="styles/images/icons/linkedin.png" alt="" /></a>
          </div>
        </div>
      </div>
  </div>
</section>
<section class="vb-modal-section">
  <div id="vb-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Vertiblock</h4>
        </div>
        <div class="modal-body">
          <p>
            Vertiblock specializes in concrete wall blocks.  Fluid took them on as a client to completely rebuild their website.
          </p>
          <p>
            Provided with an Adobe Photoshop file, I developed their site from scratch and ensured the end product mimicked the original design.  I was able to use Vue.js to develop components that query the wordpress api to build a calculator, video filter, and a slider of products.
          </p>
          <p>
            Tech Used: Wordpress, Vue.js, Javascript, jQuery, PHP, Blade, SCSS, HTML, Foundation
          </p>
        </div>
        <div class="modal-project-content">
          <img src="styles/images/vb/vb_hero.png" alt="" />
        </div>
        <div class="view-site-container">
          <h2 class="view-site-btn"><a href="http://verti-block.com/" target="_blank">View Site</a></h2>
        </div>
        <div class="modal-project-links">
          <a class="icon-link" href="https://www.linkedin.com/in/spencerkekauoha" target="_blank"><img src="styles/images/icons/linkedin.png" alt="" /></a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="yui-modal-desktop-section">
  <div id="yui-desk-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Yui</h4>
        </div>
        <div class="modal-body">
          <p>
            Inspired by websites such as Behance and Dribble, I created a website called YUI that allows designers of all fields to post and share their work so they can gain exposure for their work.
          </p>
          <p>
            Give it a try: Register an account and you will be be able to post pictures from your favorite artist or some of your own work.
          </p>
          <p>
            Tech Used: Angular, NodeJS, Express, MongoDB, Javascript, jQuery, HTML5, CSS, & Bootstrap.
          </p>
        </div>
        <div class="modal-project-content">
          <img src="styles/images/yui/yui-logo-min.png" alt="" />
          <img src="styles/images/yui/yui.png" alt="" />
          <img src="styles/images/yui/yui-pics.png" alt="" />
          <img src="styles/images/yui/vader.png" alt="" />
        </div>
        <div class="view-site-container">
          <h2 class="view-site-btn"><a href="http://107.170.47.197:8000/#/yui" target="_blank">View Site</a></h2>
        </div>
        <div class="modal-project-links">
          <a class="icon-link" href="https://github.com/SpencerKekauoha/yui" target="_blank"><img src="styles/images/icons/git.png" alt="" /></a>
          <a class="icon-link" href="https://www.linkedin.com/in/spencerkekauoha" target="_blank"><img src="styles/images/icons/linkedin.png" alt="" /></a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="cubiscan-modal-desktop-section">
  <div id="cubiscan-desk-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Cubiscan</h4>
        </div>
        <div class="modal-body">
          <p>
            Cubiscan specializes in products for shipping and logistics.  Fluid took them on as a client to completely rebuild their website.
          </p>
          <p>
            Provided with an Adobe Illustrator file, I developed their site from scratch and ensured the end product mimicked the original design.  Using Vue.js, I was able to create components within a wordpress build and utilize the wordpress API to query my database to create a compare, filter, and questionaire component.
          </p>
          <p>
            Tech Used: Wordpress, Vue.js, Javascript, jQuery, PHP, Blade, SCSS, HTML, Foundation
          </p>
        </div>
        <div class="modal-project-content">
          <img src="styles/images/cubiscan/cubiscan-hero.png" alt="" />
        </div>
        <div class="view-site-container">
          <h2 class="view-site-btn"><a href="http://cubiscan.com/" target="_blank">View Site</a></h2>
        </div>
        <div class="modal-project-links">
          <a class="icon-link" href="https://www.linkedin.com/in/spencerkekauoha" target="_blank"><img src="styles/images/icons/linkedin.png" alt="" /></a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="weather-modal-desktop-section">
  <div id="weather-desk-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Omen Weather App</h4>
        </div>
        <div class="modal-body">
          <p>
            Designed and coded a weather app from scratch.  Using Figma, an app similar to sketch, I designed each view for Omen and then used those designs to code the app.
            Using a weather api, you can search almost any city in the world to get up to date weather information and a 4 day forecast.  Omen was designed and coded to be used on
            desktop and mobile devices.
          </p>
          <p>
            Tech Used: Angular, Javascript, jQuery, Weather Underground API, HTML5, SCSS, & Gulp.
          </p>
        </div>
        <div class="modal-project-content">
          <img src="styles/images/omen/omen_landing-min.png" alt="" />
          <img src="styles/images/omen/omen_dash-min.png" alt="" />
          <img src="styles/images/omen/omen_desktop_4day.png" alt="" />
          <img src="styles/images/omen/Cryptic-min.png" alt="" />
          <img src="styles/images/omen/omen_dash_mobile-min.png" alt="" />
          <img src="styles/images/omen/Cryptic Mobile_4 Day-min.png" alt="" />
        </div>
        <div class="view-site-container">
          <h2 class="view-site-btn"><a href="https://spencerkekauoha.github.io/omen-weather/#/landing" target="_blank">View Site</a></h2>
        </div>
        <div class="modal-project-links">
          <a class="icon-link" href="https://github.com/SpencerKekauoha/omen-weather" target="_blank"><img src="styles/images/icons/git.png" alt="" /></a>
          <a class="icon-link" href="https://www.linkedin.com/in/spencerkekauoha" target="_blank"><img src="styles/images/icons/linkedin.png" alt="" /></a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="brief-modal-desktop-section">
  <div id="brief-desk-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Daily Brief</h4>
          </div>
          <div class="modal-body">
            <p>
              To learn React, I decided to build a simple app that gives you your daily morning briefing.  The app has a couple routes that feature a to-do list page and a weather forecast page.
            </p>
            <p>
              Tech Used: React, Javascript, SCSS, Weather Underground API.
            </p>
          </div>
          <div class="modal-project-content">
            <img src="styles/images/brief/home.png" alt="" />
            <img src="styles/images/brief/tasks.png" alt="" />
            <img src="styles/images/brief/tasks-complete.png" alt="" />
            <img src="styles/images/brief/loading.png" alt="" />
            <img src="styles/images/brief/weather.png" alt="" />
          </div>
          <div class="view-site-container">
            <h2 class="view-site-btn"><a href="https://spencerkekauoha.github.io/react_todo/#/" target="_blank">View Site</a></h2>
          </div>
          <div class="modal-project-links">
            <a class="icon-link" href="https://github.com/SpencerKekauoha/react_todo" target="_blank"><img src="styles/images/icons/git.png" alt="" /></a>
            <a class="icon-link" href="https://www.linkedin.com/in/spencerkekauoha" target="_blank"><img src="styles/images/icons/linkedin.png" alt="" /></a>
          </div>
        </div>
      </div>
  </div>
</section>
<section class="strat-builders-modal-desktop-section">
  <div id="strat-builders-desk-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Strategic Builders</h4>
        </div>
        <div class="modal-body">
          <p>
            Strategic Builders specializes in housing development.  Fluid took them on as a client to completely rebuild their website.
          </p>
          <p>
            Provided with an Adobe Illustrator file, I developed their site from scratch and ensured the end product mimicked the original design.
          </p>
          <p>
            Tech Used: Wordpress, Javascript, jQuery, PHP, Blade, SCSS, HTML, Foundation
          </p>
        </div>
        <div class="modal-project-content">
          <img src="styles/images/strat-builders/strat_orig_hero.png" alt="" />
        </div>
        <div class="view-site-container">
          <h2 class="view-site-btn"><a href="http://strategicbuilders.com/" target="_blank">View Site</a></h2>
        </div>
        <div class="modal-project-links">
          <a class="icon-link" href="https://www.linkedin.com/in/spencerkekauoha" target="_blank"><img src="styles/images/icons/linkedin.png" alt="" /></a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="vb-modal-desktop-section">
  <div id="vb-desk-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Vertiblock</h4>
        </div>
        <div class="modal-body">
          <p>
            Vertiblock specializes in concrete wall blocks.  Fluid took them on as a client to completely rebuild their website.
          </p>
          <p>
            Provided with an Adobe Photoshop file, I developed their site from scratch and ensured the end product mimicked the original design.  I was able to use Vue.js to develop components that query the wordpress api to build a calculator, video filter, and a slider of products.
          </p>
          <p>
            Tech Used: Wordpress, Vue.js, Javascript, jQuery, PHP, Blade, SCSS, HTML, Foundation
          </p>
        </div>
        <div class="modal-project-content">
          <img src="styles/images/vb/vb_hero.png" alt="" />
        </div>
        <div class="view-site-container">
          <h2 class="view-site-btn"><a href="http://verti-block.com/" target="_blank">View Site</a></h2>
        </div>
        <div class="modal-project-links">
          <a class="icon-link" href="https://www.linkedin.com/in/spencerkekauoha" target="_blank"><img src="styles/images/icons/linkedin.png" alt="" /></a>
        </div>
      </div>
    </div>
  </div>
</section>
