<section id="section-grid">
  <div class="grid" masonry-dir>
    <div class="grid-sizer"></div>
    <div class="grid-item">
      <img class="grid-yui" src="styles/images/yui/yui-logo-desktop.png" data-toggle="modal" data-target="#yui-desk-modal" />
    </div>
    <div class="grid-item">
      <img class="grid-kromo" src="styles/images/kromo/kromo-min.png" data-toggle="modal" data-target="#kromo-desk-modal"/>
    </div>
    <div class="grid-item">
      <div id="load-screen2" data-toggle="modal" data-target="#loading-desk-modal">
        <div id="loading">
          <div class="box" id="box-1"></div>
          <div class="box" id="box-2"></div>
          <div class="box" id="box-3"></div>
          <div class="box" id="box-4"></div>
          <div class="box" id="box-5"></div>
          <div class="box" id="box-6"></div>
          <div class="box" id="box-7"></div>
          <div class="box" id="box-8"></div>
          <div class="box" id="box-9"></div>
          <div class="box" id="box-10"></div>
          <div class="box" id="box-11"></div>
          <div class="box" id="box-12"></div>
          <div class="box" id="box-13"></div>
          <div class="box" id="box-14"></div>
          <div class="box" id="box-15"></div>
          <div class="box" id="box-16"></div>
        </div>
      </div>
    </div>
    <div class="grid-item">
      <img class="grid-weather" src="styles/images/weather/weather.png" data-toggle="modal" data-target="#weather-desk-modal"/>
    </div>
    <div class="grid-item">
      <img class="grid-waves" src="styles/images/waves/waves.png" data-toggle="modal" data-target="#waves-desk-modal"/>
    </div>
    <div class="grid-item">
      <img class="grid-parallax" src="styles/images/parallax/parallax.png" data-toggle="modal" data-target="#parallax-desk-modal"/>
    </div>
  </div>
</section>
<section id="section2">
  <div class="yui-container">
    <div class="overlay">
      <button type="button" class="yui-btn" data-toggle="modal" data-target="#yui-modal">View Project</button>
    </div>
  </div>
  <div class="kromo-container">
    <div class="overlay">
      <button type="button" class="yui-btn" data-toggle="modal" data-target="#kromo-modal">View Project</button>
    </div>
  </div>
  <div class="weather-container">
    <div class="overlay">
      <button type="button" class="yui-btn" data-toggle="modal" data-target="#weather-modal">View Project</button>
    </div>
  </div>
  <div class="waves-container">
    <div class="overlay">
      <button type="button" class="yui-btn" data-toggle="modal" data-target="#waves-modal">View Project</button>
    </div>
  </div>
  <div id="load-screen">
    <div id="loading">
      <div class="box" id="box-1"></div>
      <div class="box" id="box-2"></div>
      <div class="box" id="box-3"></div>
      <div class="box" id="box-4"></div>
      <div class="box" id="box-5"></div>
      <div class="box" id="box-6"></div>
      <div class="box" id="box-7"></div>
      <div class="box" id="box-8"></div>
      <div class="box" id="box-9"></div>
      <div class="box" id="box-10"></div>
      <div class="box" id="box-11"></div>
      <div class="box" id="box-12"></div>
      <div class="box" id="box-13"></div>
      <div class="box" id="box-14"></div>
      <div class="box" id="box-15"></div>
      <div class="box" id="box-16"></div>
    </div>
    <div class="overlay">
      <button type="button" class="yui-btn" data-toggle="modal" data-target="#loading-modal">View Project</button>
    </div>
  </div>
  <div class="parallax-container">
    <div class="overlay">
      <button type="button" class="yui-btn" data-toggle="modal" data-target="#parallax-modal">View Project</button>
    </div>
  </div>
</section>
<section class="yui-modal-section">
  <div id="yui-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Yui</h4>
        </div>
        <div class="modal-body">
          <p>
            Inspired by websites such as Behance and Dribble, I created a website called YUI that allows designers of all fields to post and share their work so they can gain exposure for their work.
          </p>
          <p>
            Give it a try: Register an account and you will be be able to post pictures from your favorite artist or some of your own work.
          </p>
        </div>
        <div class="modal-project-content">
          <img src="styles/images/yui/yui-logo-min.png" alt="" />
          <img src="styles/images/yui/yui.png" alt="" />
          <img src="styles/images/yui/yui-pics.png" alt="" />
          <img src="styles/images/yui/vader.png" alt="" />
        </div>
        <div class="view-site-container">
          <h2 class="view-site-btn"><a href="http://107.170.47.197:8000/#/yui">View Site</a></h2>
        </div>
        <div class="modal-project-links">
          <a class="icon-link" href="https://github.com/SpencerKekauoha/yui"><img src="styles/images/icons/git.png" alt="" /></a>
          <a class="icon-link" href="https://www.linkedin.com/in/spencerkekauoha"><img src="styles/images/icons/linkedin.png" alt="" /></a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="kromo-modal-section">
  <div id="kromo-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Kromo</h4>
        </div>
        <div class="modal-body">
          <p>
            Inspired by Domo and Data Manipulation, our team built a working clone of a Domo App that uses data to help businesses grow.
          </p>
          <p>
            Lead Developer on Front-End Development and Design.  Focused on ensuring our app was mobile responsive and data visualization was optimized for the user.
          </p>
          <p>
            Give it a try and login:  Username: billgates@gmail.com Password: 1234
          </p>
        </div>
        <div class="modal-project-content">
          <img src="styles/images/kromo/kromo-min.png" alt="" />
          <img src="styles/images/kromo/graphs.png" alt="" />
          <img src="styles/images/kromo/cards-min.png" alt="" />
          <img src="styles/images/kromo/login-min.png" alt="" />
        </div>
        <div class="view-site-container">
          <h2 class="view-site-btn"><a href="http://kromo.donovanhiland.com/#/home">View Site</a></h2>
        </div>
        <div class="modal-project-links">
          <a class="icon-link" href="https://github.com/karams-jihads/domo-clone"><img src="styles/images/icons/git.png" alt="" /></a>
          <a class="icon-link" href="https://www.linkedin.com/in/spencerkekauoha"><img src="styles/images/icons/linkedin.png" alt="" /></a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="weather-modal-section">
  <div id="weather-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Provo Weather App</h4>
        </div>
        <div class="modal-body">
          <p>
            I built a simple weather app using a weather service api to get daily weather updates for the city of Provo.
          </p>
        </div>
        <div class="modal-project-content">
          <img src="styles/images/weather/weather-min.png" alt="" />
          <img src="styles/images/weather/weather.png" alt="" />
          <img src="styles/images/weather/weather-landing.png" alt="" />
        </div>
        <div class="view-site-container">
          <h2 class="view-site-btn"><a href="http://spencerkekauoha.github.io/weather-api/">View Site</a></h2>
        </div>
        <div class="modal-project-links">
          <a class="icon-link" href="https://github.com/SpencerKekauoha/weather-api"><img src="styles/images/icons/git.png" alt="" /></a>
          <a class="icon-link" href="https://www.linkedin.com/in/spencerkekauoha"><img src="styles/images/icons/linkedin.png" alt="" /></a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="waves-modal-section">
  <div id="waves-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Great Wave of Kanagawa</h4>
        </div>
        <div class="modal-body">
          <p>
            While working at DevMountain as a Mentor, I taught a workshop on advanced HTML/CSS principles.  For one of the workshops I built an animated site of the Great Waves of Kanagawa to teach CSS keyframes and the animation property. Click the link to see the animations.
          </p>
        </div>
        <div class="modal-project-content">
          <img src="styles/images/waves/waves.png" alt="" />
        </div>
        <div class="view-site-container">
          <h2 class="view-site-btn"><a href="https://spencerkekauoha.github.io/lesson-waves-keyframes/">View Site</a></h2>
        </div>
        <div class="modal-project-links">
          <a class="icon-link" href="https://github.com/SpencerKekauoha/lesson-waves-keyframes"><img src="styles/images/icons/git.png" alt="" /></a>
          <a class="icon-link" href="https://www.linkedin.com/in/spencerkekauoha"><img src="styles/images/icons/linkedin.png" alt="" /></a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="loading-modal-section">
  <div id="loading-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Great Wave of Kanagawa</h4>
          </div>
          <div class="modal-body">
            <p>
              In another workshop I taught, I focused on using Javascript and CSS animations to create a loading screen.  After the content is done loading, the animation will disappear and your content will be ready to view.
            </p>
          </div>
          <div class="modal-project-content">
            <div class="loading-container">
              <div id="load-screen">
                <div id="loading">
                  <div class="box" id="box-1"></div>
                  <div class="box" id="box-2"></div>
                  <div class="box" id="box-3"></div>
                  <div class="box" id="box-4"></div>
                  <div class="box" id="box-5"></div>
                  <div class="box" id="box-6"></div>
                  <div class="box" id="box-7"></div>
                  <div class="box" id="box-8"></div>
                  <div class="box" id="box-9"></div>
                  <div class="box" id="box-10"></div>
                  <div class="box" id="box-11"></div>
                  <div class="box" id="box-12"></div>
                  <div class="box" id="box-13"></div>
                  <div class="box" id="box-14"></div>
                  <div class="box" id="box-15"></div>
                  <div class="box" id="box-16"></div>
                </div>
              </div>
            </div>
            <img src="styles/images/loading/content.png" alt="" />
          </div>
          <div class="view-site-container">
            <h2 class="view-site-btn"><a href="https://spencerkekauoha.github.io/lesson-loading-page/">View Site</a></h2>
          </div>
          <div class="modal-project-links">
            <a class="icon-link" href="https://github.com/SpencerKekauoha/lesson-loading-page"><img src="styles/images/icons/git.png" alt="" /></a>
            <a class="icon-link" href="https://www.linkedin.com/in/spencerkekauoha"><img src="styles/images/icons/linkedin.png" alt="" /></a>
          </div>
        </div>
      </div>
  </div>
</section>
<section class="parallax-modal-section">
  <div id="parallax-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Parallax Workshop</h4>
        </div>
        <div class="modal-body">
          <p>
            In this workshop, I built a demo on basic parallax elements.  As you scroll down, the cherry blossoms move off screen to reveal Lord Vader.
          </p>
        </div>
        <div class="modal-project-content">
          <img src="styles/images/parallax/parallax.png" alt="" />
        </div>
        <div class="view-site-container">
          <h2 class="view-site-btn"><a href="https://spencerkekauoha.github.io/lesson-parallax/">View Site</a></h2>
        </div>
        <div class="modal-project-links">
          <a class="icon-link" href="https://github.com/SpencerKekauoha/lesson-parallax"><img src="styles/images/icons/git.png" alt="" /></a>
          <a class="icon-link" href="https://www.linkedin.com/in/spencerkekauoha"><img src="styles/images/icons/linkedin.png" alt="" /></a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="yui-modal-desktop-section">
  <div id="yui-desk-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Yui</h4>
        </div>
        <div class="modal-body">
          <p>
            Inspired by websites such as Behance and Dribble, I created a website called YUI that allows designers of all fields to post and share their work so they can gain exposure for their work.
          </p>
          <p>
            Give it a try: Register an account and you will be be able to post pictures from your favorite artist or some of your own work.
          </p>
        </div>
        <div class="modal-project-content">
          <img src="styles/images/yui/yui-logo-min.png" alt="" />
          <img src="styles/images/yui/yui.png" alt="" />
          <img src="styles/images/yui/yui-pics.png" alt="" />
          <img src="styles/images/yui/vader.png" alt="" />
        </div>
        <div class="view-site-container">
          <h2 class="view-site-btn"><a href="http://107.170.47.197:8000/#/yui">View Site</a></h2>
        </div>
        <div class="modal-project-links">
          <a class="icon-link" href="https://github.com/SpencerKekauoha/yui"><img src="styles/images/icons/git.png" alt="" /></a>
          <a class="icon-link" href="https://www.linkedin.com/in/spencerkekauoha"><img src="styles/images/icons/linkedin.png" alt="" /></a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="kromo-modal-desktop-section">
  <div id="kromo-desk-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Kromo-Domo Clone</h4>
        </div>
        <div class="modal-body">
          <p>
            Inspired by Domo and Data Manipulation, our team built a working clone of a Domo App that uses data to help businesses grow.
          </p>
          <p>
            Lead Developer on Front-End Development and Design.  Focused on ensuring our app was mobile responsive and data visualization was optimized for the user.
          </p>
          <p>
            Give it a try and login:  Username: billgates@gmail.com Password: 1234
          </p>
        </div>
        <div class="modal-project-content">
          <img src="styles/images/kromo/kromo-min.png" alt="" />
          <img src="styles/images/kromo/graphs.png" alt="" />
          <img src="styles/images/kromo/cards-min.png" alt="" />
          <img src="styles/images/kromo/login-min.png" alt="" />
        </div>
        <div class="view-site-container">
          <h2 class="view-site-btn"><a href="http://kromo.donovanhiland.com/#/home">View Site</a></h2>
        </div>
        <div class="modal-project-links">
          <a class="icon-link" href="https://github.com/karams-jihads/domo-clone"><img src="styles/images/icons/git.png" alt="" /></a>
          <a class="icon-link" href="https://www.linkedin.com/in/spencerkekauoha"><img src="styles/images/icons/linkedin.png" alt="" /></a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="weather-modal-desktop-section">
  <div id="weather-desk-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Provo Weather App</h4>
        </div>
        <div class="modal-body">
          <p>
            I built a simple weather app using a weather service api to get daily weather updates for the city of Provo.
          </p>
        </div>
        <div class="modal-project-content">
          <img src="styles/images/weather/weather-min.png" alt="" />
          <img src="styles/images/weather/weather.png" alt="" />
          <img src="styles/images/weather/weather-landing.png" alt="" />
        </div>
        <div class="view-site-container">
          <h2 class="view-site-btn"><a href="http://spencerkekauoha.github.io/weather-api/">View Site</a></h2>
        </div>
        <div class="modal-project-links">
          <a class="icon-link" href="https://github.com/SpencerKekauoha/weather-api"><img src="styles/images/icons/git.png" alt="" /></a>
          <a class="icon-link" href="https://www.linkedin.com/in/spencerkekauoha"><img src="styles/images/icons/linkedin.png" alt="" /></a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="loading-modal-desktop-section">
  <div id="loading-desk-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Great Wave of Kanagawa</h4>
          </div>
          <div class="modal-body">
            <p>
              In another workshop I taught, I focused on using Javascript and CSS animations to create a loading screen.  After the content is done loading, the animation will disappear and your content will be ready to view.
            </p>
          </div>
          <div class="modal-project-content">
            <div class="loading-container">
              <div id="load-screen">
                <div id="loading">
                  <div class="box" id="box-1"></div>
                  <div class="box" id="box-2"></div>
                  <div class="box" id="box-3"></div>
                  <div class="box" id="box-4"></div>
                  <div class="box" id="box-5"></div>
                  <div class="box" id="box-6"></div>
                  <div class="box" id="box-7"></div>
                  <div class="box" id="box-8"></div>
                  <div class="box" id="box-9"></div>
                  <div class="box" id="box-10"></div>
                  <div class="box" id="box-11"></div>
                  <div class="box" id="box-12"></div>
                  <div class="box" id="box-13"></div>
                  <div class="box" id="box-14"></div>
                  <div class="box" id="box-15"></div>
                  <div class="box" id="box-16"></div>
                </div>
              </div>
            </div>
            <img src="styles/images/loading/content.png" alt="" />
          </div>
          <div class="view-site-container">
            <h2 class="view-site-btn"><a href="https://spencerkekauoha.github.io/lesson-loading-page/">View Site</a></h2>
          </div>
          <div class="modal-project-links">
            <a class="icon-link" href="https://github.com/SpencerKekauoha/lesson-loading-page"><img src="styles/images/icons/git.png" alt="" /></a>
            <a class="icon-link" href="https://www.linkedin.com/in/spencerkekauoha"><img src="styles/images/icons/linkedin.png" alt="" /></a>
          </div>
        </div>
      </div>
  </div>
</section>
<section class="waves-modal-desktop-section">
  <div id="waves-desk-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Great Wave of Kanagawa</h4>
        </div>
        <div class="modal-body">
          <p>
            While working at DevMountain as a Mentor, I taught a workshop on advanced HTML/CSS principles.  For one of the workshops I built an animated site of the Great Waves of Kanagawa to teach CSS keyframes and the animation property. Click the link to see the animations.
          </p>
        </div>
        <div class="modal-project-content">
          <img src="styles/images/waves/waves.png" alt="" />
        </div>
        <div class="view-site-container">
          <h2 class="view-site-btn"><a href="https://spencerkekauoha.github.io/lesson-waves-keyframes/">View Site</a></h2>
        </div>
        <div class="modal-project-links">
          <a class="icon-link" href="https://github.com/SpencerKekauoha/lesson-waves-keyframes"><img src="styles/images/icons/git.png" alt="" /></a>
          <a class="icon-link" href="https://www.linkedin.com/in/spencerkekauoha"><img src="styles/images/icons/linkedin.png" alt="" /></a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="parallax-modal-desktop-section">
  <div id="parallax-desk-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Parallax Workshop</h4>
        </div>
        <div class="modal-body">
          <p>
            In this workshop, I built a demo on basic parallax elements.  As you scroll down, the cherry blossoms move off screen to reveal Lord Vader.
          </p>
        </div>
        <div class="modal-project-content">
          <img src="styles/images/parallax/parallax.png" alt="" />
        </div>
        <div class="view-site-container">
          <h2 class="view-site-btn"><a href="https://spencerkekauoha.github.io/lesson-parallax/">View Site</a></h2>
        </div>
        <div class="modal-project-links">
          <a class="icon-link" href="https://github.com/SpencerKekauoha/lesson-parallax"><img src="styles/images/icons/git.png" alt="" /></a>
          <a class="icon-link" href="https://www.linkedin.com/in/spencerkekauoha"><img src="styles/images/icons/linkedin.png" alt="" /></a>
        </div>
      </div>
    </div>
  </div>
</section>
