<section class="landing-section" id="section1">
  <div class="landing-container">
    <div class="landing-title-container">
      <!-- <h1>Spencer Kekauoha</h1>
      <h4>Web Developer &nbsp; &nbsp; Web Designer</h4>
      <h2 scroll-dir id="section5Btn">View Portfolio</h2> -->
      <img scroll-dir id="section5Btn" src="styles/images/landingbtn-paint.png" alt="" />
      <img scroll-dir id="landingImgBtn" src="styles/images/landingbtn-paint.png" alt="" />
    </div>
  </div>
</section>
<section scroll-dir class="link-nav target" id="section1">
  <div class="vertical">
    <div class="horizontal-1" >
      <div class="h1" id="portBtn"></div>
    </div>
    <div class="horizontal-2">
      <div class="h1" id="horz1Btn"></div>
    </div>
    <div class="horizontal-3">
      <div class="h1" id="horz2Btn"></div>
    </div>
    <div class="horizontal-4" id="horz3Btn">
      <div class="h1" id="horz3Btn"></div>
    </div>
  </div>
</section>
