<div class="sandwich" id="toggle-nav">
  <span class="top"></span>
  <span class="middle"></span>
  <span class="bottom"></span>
</div>
<div class="menu" id="menu">
  <div class="menu-list">
    <div class="menu-logo">
      <img src="styles/images/arrow.png" alt="" />
    </div>
    <div class="menu-border" scroll-dir>
      <ul>
        <li><a class="nav-link" href="#" id="section1Btn">Home</a></li>
        <li><a class="nav-link" href="#" id="section2Btn">Portfolio</a></li>
        <li><a class="nav-link" href="#" id="section3Btn">About</a></li>
        <li><a class="nav-link" href="#" id="section4Btn">Contact</a></li>
      </ul>
    </div>
  </div>
</div>
