<section id="section4">
  <div class="contact-container">
    <div class="contact-info">
      <h4>Contact</h4>
      <hr class="contact-hr">
      <h6>spkekauoha@gmail.com</h6>
    </div>
    <div class="contact-icon-container">
      <a class="icon-link" href="https://github.com/SpencerKekauoha" target="_blank"><img src="styles/images/icons/git.png" alt="" /></a>
      <a class="icon-link" href="https://www.linkedin.com/in/spencerkekauoha" target="_blank"><img src="styles/images/icons/linkedin.png" alt="" /></a>
    </div>
  </div>
</section>
