$font-taken: 'taken', sans-serif;
$font-droid: 'Droid Sans', sans-serif;
$font-lato: 'Lato', sans-serif;
$font-roboto: 'Roboto Condensed', sans-serif;
$font: 'Josefin Sans', sans-serif;

$c-red: #D13B3F;
$c-sky: #6F9CB3;
$c-pink: #F6E1E3;
$c-font: #333;

#section3 {
  width: 100%;
  .about-container {
    .about-info {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin-top: 50px;
      img {
        width: 10vh;
        border-radius: 50%;
      }
      h4 {
        margin-top: 20px;
        font-family: $font;
        font-size: 10px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 3px;
        text-align: center;
        color: $c-font;
      }
      .about-hr {
        width: 50px;
        height: 1px;
        margin-top: 20px;
        background: $c-red;
        border: none;
      }
      p {
        width: 75%;
        margin-top: 10px;
        line-height: 18px;
        font-family: $font-roboto;
        font-size: 12px;
        font-weight: 300;
        text-align: center;
      }
      .about-tech-btn {
        margin-top: 25px;
        padding: 9px;
        font-family: $font;
        font-size: 10px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 3px;
        text-align: center;
        color: $c-font;
        border: 2px $c-red solid;
        background-color: #fff;
      }
      #myModal {
        .modal-dialog {
          .modal-content {
            .modal-header {
              .close {

              }
              .modal-title {
                font-family: $font;
                text-align: center;
                font-size: 10px;
                font-weight: 700;
                color: $c-red;
              }
            }
            .modal-body {
              height: 100%;
              ul {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                // justify-content: center;
                // align-items: center;
                // flex-wrap: wrap;
                // flex-flow: column;
                li {
                  width: 100px;
                  font-family: $font;
                  font-size: 10px;
                  font-weight: 300;
                  color: $c-font;
                  list-style-type: square;
                }
              }
            }
          }
        }
      }
    }
  }
}
//
// #section4  {
//   height:100vh;
//   width: 100%;
//   background: #5BB6AD;
// }
//
// #section5  {
//   height:100vh;
//   width: 100%;
//   background: #E78D62;
// }
//
// #section6  {
//   height:100vh;
//   width: 100%;
//   background: #111C31;
// }
