$font-taken: 'taken', sans-serif;
$font-droid: 'Droid Sans', sans-serif;
$font-lato: 'Lato', sans-serif;
$font-roboto: 'Roboto Condensed', sans-serif;
$font: 'Josefin Sans', sans-serif;

$c-red: #D13B3F;
$c-sky: #6F9CB3;
$c-pink: #F6E1E3;
$c-font: #333;
$transparent-color: rgba(51,51,51,.6);


.yui-modal-section {
  #yui-modal {
    .modal-dialog {
      .modal-content {

        .modal-header {
          .close {

          }
          .modal-title {
            // width: 100vw;
            font-family: $font;
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 3px;
            color: $c-font;
          }
        }
        .modal-body {
          margin-top: 25px;
          position: relative;
          padding: 15px;
          padding-left: 50px;
          padding-right: 50px;
          p {
            font-family: $font;
            font-size: 10px;
            font-weight: 300;
            text-align: center;
            color: $c-font;
          }
        }
        .modal-project-content {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          height: 100%;
          img {
            margin-top: 25px;
            height: 100px;
          }
        }
        .modal-project-links {
          display: flex;
          justify-content: center;
          margin-top: 20px;
          margin-bottom: 25px;
          .icon-link {
            margin: 10px;
            img {
              height: 30px;
            }
          }
        }
        .view-site-container {
          display: flex;
          justify-content: center;
          margin-top: 25px;
          .view-site-btn {

            a {
              margin-top: 20px;
              padding: 10px;
              font-family: $font;
              font-size: 10px;
              font-weight: 700;
              text-transform: uppercase;
              letter-spacing: 3px;
              text-align: center;
              color: $c-font;
              border: 2px $c-red solid;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

.cubiscan-modal-section {
  #cubiscan-modal {
    .modal-dialog {
      .modal-content {

        .modal-header {
          .close {

          }
          .modal-title {
            // width: 100vw;
            font-family: $font;
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 3px;
            color: $c-font;
          }
        }
        .modal-body {
          margin-top: 25px;
          position: relative;
          padding: 15px;
          padding-left: 50px;
          padding-right: 50px;
          p {
            font-family: $font;
            font-size: 10px;
            font-weight: 300;
            text-align: center;
            color: $c-font;
          }
        }
        .modal-project-content {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          height: 100%;
          img {
            margin-top: 25px;
            height: 100px;
          }
        }
        .modal-project-links {
          display: flex;
          justify-content: center;
          margin-top: 20px;
          margin-bottom: 25px;
          .icon-link {
            margin: 10px;
            img {
              height: 30px;
            }
          }
        }
        .view-site-container {
          display: flex;
          justify-content: center;
          margin-top: 25px;
          .view-site-btn {

            a {
              margin-top: 20px;
              padding: 10px;
              font-family: $font;
              font-size: 10px;
              font-weight: 700;
              text-transform: uppercase;
              letter-spacing: 3px;
              text-align: center;
              color: $c-font;
              border: 2px $c-red solid;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
.weather-modal-section {
  #weather-modal {
    .modal-dialog {
      .modal-content {

        .modal-header {
          .close {

          }
          .modal-title {
            // width: 100vw;
            font-family: $font;
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 3px;
            color: $c-font;
          }
        }
        .modal-body {
          margin-top: 25px;
          position: relative;
          padding: 15px;
          padding-left: 50px;
          padding-right: 50px;
          p {
            font-family: $font;
            font-size: 10px;
            font-weight: 300;
            text-align: center;
            color: $c-font;
          }
        }
        .modal-project-content {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          height: 100%;
          img {
            margin-top: 25px;
            height: 100px;
          }
        }
        .modal-project-links {
          display: flex;
          justify-content: center;
          margin-top: 20px;
          margin-bottom: 25px;
          .icon-link {
            margin: 10px;
            img {
              height: 30px;
            }
          }
        }
        .view-site-container {
          display: flex;
          justify-content: center;
          margin-top: 25px;
          .view-site-btn {

            a {
              margin-top: 20px;
              padding: 10px;
              font-family: $font;
              font-size: 10px;
              font-weight: 700;
              text-transform: uppercase;
              letter-spacing: 3px;
              text-align: center;
              color: $c-font;
              border: 2px $c-red solid;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
.strat-builders-modal-section {
  #strat-builders-modal {
    .modal-dialog {
      .modal-content {

        .modal-header {
          .close {

          }
          .modal-title {
            // width: 100vw;
            font-family: $font;
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 3px;
            color: $c-font;
          }
        }
        .modal-body {
          margin-top: 25px;
          position: relative;
          padding: 15px;
          padding-left: 50px;
          padding-right: 50px;
          p {
            font-family: $font;
            font-size: 10px;
            font-weight: 300;
            text-align: center;
            color: $c-font;
          }
        }
        .modal-project-content {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          height: 100%;
          img {
            margin-top: 25px;
            height: 100px;
          }
        }
        .modal-project-links {
          display: flex;
          justify-content: center;
          margin-top: 20px;
          margin-bottom: 25px;
          .icon-link {
            margin: 10px;
            img {
              height: 30px;
            }
          }
        }
        .view-site-container {
          display: flex;
          justify-content: center;
          margin-top: 25px;
          .view-site-btn {

            a {
              margin-top: 20px;
              padding: 10px;
              font-family: $font;
              font-size: 10px;
              font-weight: 700;
              text-transform: uppercase;
              letter-spacing: 3px;
              text-align: center;
              color: $c-font;
              border: 2px $c-red solid;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
.brief-modal-section {
  #brief-modal {
    .modal-dialog {
      .modal-content {

        .modal-header {
          .close {

          }
          .modal-title {
            // width: 100vw;
            font-family: $font;
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 3px;
            color: $c-font;
          }
        }
        .modal-body {
          margin-top: 25px;
          position: relative;
          padding: 15px;
          padding-left: 50px;
          padding-right: 50px;
          p {
            font-family: $font;
            font-size: 10px;
            font-weight: 300;
            text-align: center;
            color: $c-font;
          }
        }
        .modal-project-content {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          height: 100%;
          .loading-container {
          }
          img {
            margin-top: 25px;
            height: 200px;
          }
        }
        .modal-project-links {
          display: flex;
          justify-content: center;
          margin-top: 20px;
          margin-bottom: 25px;
          .icon-link {
            margin: 10px;
            img {
              height: 30px;
            }
          }
        }
        .view-site-container {
          display: flex;
          justify-content: center;
          margin-top: 25px;
          .view-site-btn {

            a {
              margin-top: 20px;
              padding: 10px;
              font-family: $font;
              font-size: 10px;
              font-weight: 700;
              text-transform: uppercase;
              letter-spacing: 3px;
              text-align: center;
              color: $c-font;
              border: 2px $c-red solid;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
.vb-modal-section {
  #vb-modal {
    .modal-dialog {
      .modal-content {

        .modal-header {
          .close {

          }
          .modal-title {
            // width: 100vw;
            font-family: $font;
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 3px;
            color: $c-font;
          }
        }
        .modal-body {
          margin-top: 25px;
          position: relative;
          padding: 15px;
          padding-left: 50px;
          padding-right: 50px;
          p {
            font-family: $font;
            font-size: 10px;
            font-weight: 300;
            text-align: center;
            color: $c-font;
          }
        }
        .modal-project-content {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          height: 100%;
          img {
            margin-top: 25px;
            height: 100px;
          }
        }
        .modal-project-links {
          display: flex;
          justify-content: center;
          margin-top: 20px;
          margin-bottom: 25px;
          .icon-link {
            margin: 10px;
            img {
              height: 30px;
            }
          }
        }
        .view-site-container {
          display: flex;
          justify-content: center;
          margin-top: 25px;
          .view-site-btn {

            a {
              margin-top: 20px;
              padding: 10px;
              font-family: $font;
              font-size: 10px;
              font-weight: 700;
              text-transform: uppercase;
              letter-spacing: 3px;
              text-align: center;
              color: $c-font;
              border: 2px $c-red solid;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

////////////////

// DESKTOP MEDIA QUERY

////////////////

.yui-modal-desktop-section {
  #yui-desk-modal {
    .modal-dialog {
      .modal-content {

        .modal-header {
          .close {

          }
          .modal-title {
            // width: 100vw;
            font-family: $font;
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 3px;
            color: $c-font;
          }
        }
        .modal-body {
          margin-top: 25px;
          position: relative;
          padding: 15px;
          padding-left: 50px;
          padding-right: 50px;
          p {
            font-family: $font;
            font-size: 12px;
            font-weight: 300;
            text-align: center;
            color: $c-font;
          }
        }
        .modal-project-content {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          height: 100%;
          img {
            margin-top: 25px;
            height: 200px;
          }
        }
        .modal-project-links {
          display: flex;
          justify-content: center;
          margin-top: 20px;
          margin-bottom: 25px;
          .icon-link {
            margin: 10px;
            img {
              height: 30px;
            }
          }
        }
        .view-site-container {
          display: flex;
          justify-content: center;
          margin-top: 25px;
          .view-site-btn {

            a {
              margin-top: 20px;
              padding: 10px;
              font-family: $font;
              font-size: 10px;
              font-weight: 700;
              text-transform: uppercase;
              letter-spacing: 3px;
              text-align: center;
              color: $c-font;
              border: 2px $c-red solid;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

.cubiscan-modal-desktop-section {
  #cubiscan-desk-modal {
    .modal-dialog {
      .modal-content {

        .modal-header {
          .close {

          }
          .modal-title {
            // width: 100vw;
            font-family: $font;
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 3px;
            color: $c-font;
          }
        }
        .modal-body {
          margin-top: 25px;
          position: relative;
          padding: 15px;
          padding-left: 50px;
          padding-right: 50px;
          p {
            font-family: $font;
            font-size: 12px;
            font-weight: 300;
            text-align: center;
            color: $c-font;
          }
        }
        .modal-project-content {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          height: 100%;
          img {
            margin-top: 25px;
            height: 200px;
          }
        }
        .modal-project-links {
          display: flex;
          justify-content: center;
          margin-top: 20px;
          margin-bottom: 25px;
          .icon-link {
            margin: 10px;
            img {
              height: 30px;
            }
          }
        }
        .view-site-container {
          display: flex;
          justify-content: center;
          margin-top: 25px;
          .view-site-btn {

            a {
              margin-top: 20px;
              padding: 10px;
              font-family: $font;
              font-size: 10px;
              font-weight: 700;
              text-transform: uppercase;
              letter-spacing: 3px;
              text-align: center;
              color: $c-font;
              border: 2px $c-red solid;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

.weather-modal-desktop-section {
  #weather-desk-modal {
    .modal-dialog {
      .modal-content {

        .modal-header {
          .close {

          }
          .modal-title {
            // width: 100vw;
            font-family: $font;
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 3px;
            color: $c-font;
          }
        }
        .modal-body {
          margin-top: 25px;
          position: relative;
          padding: 15px;
          padding-left: 50px;
          padding-right: 50px;
          p {
            font-family: $font;
            font-size: 12px;
            font-weight: 300;
            text-align: center;
            color: $c-font;
          }
        }
        .modal-project-content {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          height: 100%;
          img {
            margin-top: 25px;
            height: 200px;
          }
        }
        .modal-project-links {
          display: flex;
          justify-content: center;
          margin-top: 20px;
          margin-bottom: 25px;
          .icon-link {
            margin: 10px;
            img {
              height: 30px;
            }
          }
        }
        .view-site-container {
          display: flex;
          justify-content: center;
          margin-top: 25px;
          .view-site-btn {

            a {
              margin-top: 20px;
              padding: 10px;
              font-family: $font;
              font-size: 10px;
              font-weight: 700;
              text-transform: uppercase;
              letter-spacing: 3px;
              text-align: center;
              color: $c-font;
              border: 2px $c-red solid;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

.brief-modal-desktop-section {
  #brief-desk-modal {
    .modal-dialog {
      .modal-content {

        .modal-header {
          .close {

          }
          .modal-title {
            // width: 100vw;
            font-family: $font;
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 3px;
            color: $c-font;
          }
        }
        .modal-body {
          margin-top: 25px;
          position: relative;
          padding: 15px;
          padding-left: 50px;
          padding-right: 50px;
          p {
            font-family: $font;
            font-size: 12px;
            font-weight: 300;
            text-align: center;
            color: $c-font;
          }
        }
        .modal-project-content {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          height: 100%;
          img {
            margin-top: 25px;
            height: 300px;
          }
        }
        .modal-project-links {
          display: flex;
          justify-content: center;
          margin-top: 20px;
          margin-bottom: 25px;
          .icon-link {
            margin: 10px;
            img {
              height: 30px;
            }
          }
        }
        .view-site-container {
          display: flex;
          justify-content: center;
          margin-top: 25px;
          .view-site-btn {

            a {
              margin-top: 20px;
              padding: 10px;
              font-family: $font;
              font-size: 10px;
              font-weight: 700;
              text-transform: uppercase;
              letter-spacing: 3px;
              text-align: center;
              color: $c-font;
              border: 2px $c-red solid;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

.strat-builders-modal-desktop-section {
  #strat-builders-desk-modal {
    .modal-dialog {
      .modal-content {

        .modal-header {
          .close {

          }
          .modal-title {
            // width: 100vw;
            font-family: $font;
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 3px;
            color: $c-font;
          }
        }
        .modal-body {
          margin-top: 25px;
          position: relative;
          padding: 15px;
          padding-left: 50px;
          padding-right: 50px;
          p {
            font-family: $font;
            font-size: 12px;
            font-weight: 300;
            text-align: center;
            color: $c-font;
          }
        }
        .modal-project-content {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          height: 100%;
          img {
            margin-top: 25px;
            height: 200px;
          }
        }
        .modal-project-links {
          display: flex;
          justify-content: center;
          margin-top: 20px;
          margin-bottom: 25px;
          .icon-link {
            margin: 10px;
            img {
              height: 30px;
            }
          }
        }
        .view-site-container {
          display: flex;
          justify-content: center;
          margin-top: 25px;
          .view-site-btn {

            a {
              margin-top: 20px;
              padding: 10px;
              font-family: $font;
              font-size: 10px;
              font-weight: 700;
              text-transform: uppercase;
              letter-spacing: 3px;
              text-align: center;
              color: $c-font;
              border: 2px $c-red solid;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

.vb-modal-desktop-section {
  #vb-desk-modal {
    .modal-dialog {
      .modal-content {

        .modal-header {
          .close {

          }
          .modal-title {
            // width: 100vw;
            font-family: $font;
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 3px;
            color: $c-font;
          }
        }
        .modal-body {
          margin-top: 25px;
          position: relative;
          padding: 15px;
          padding-left: 50px;
          padding-right: 50px;
          p {
            font-family: $font;
            font-size: 12px;
            font-weight: 300;
            text-align: center;
            color: $c-font;
          }
        }
        .modal-project-content {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          height: 100%;
          img {
            margin-top: 25px;
            height: 200px;
          }
        }
        .modal-project-links {
          display: flex;
          justify-content: center;
          margin-top: 20px;
          margin-bottom: 25px;
          .icon-link {
            margin: 10px;
            img {
              height: 30px;
            }
          }
        }
        .view-site-container {
          display: flex;
          justify-content: center;
          margin-top: 25px;
          .view-site-btn {

            a {
              margin-top: 20px;
              padding: 10px;
              font-family: $font;
              font-size: 10px;
              font-weight: 700;
              text-transform: uppercase;
              letter-spacing: 3px;
              text-align: center;
              color: $c-font;
              border: 2px $c-red solid;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
